!.keep
.byebug_history
.DS_Store
.env
.env.local
.foreman
.happypack
.idea/
.vscode/
.yardoc/
.yarn-integrity
.heroku_account
.pre-commit-config.yaml
*.log
/.bundle
/public/assets
/public/packs
/public/packs-test
/tmp/*
clones/**/*
/node_modules
/coverage
prod.env
slug.tgz
spec/examples.txt
storage
/yarn-error.log
yarn-debug.log*
.rspec-local
.docker-data
.irb_history

.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
/config/master.key
